.leftSideHeader,
.rightSideHeaderLight, .rightSideHeaderDark {
	font-size: 2.7rem;
	color: white;
	padding: 1em;
	user-select: none;
}

.rightSideHeaderLight {
	color: black;
}

.rightSideHeaderDark {
	color: white;
}
